* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.hidden-on-mobile {
    display: none;
}

.mobile-only {
    display: flex;
}


/*---TYPOGRAPHY-------------------------------------------------------*/
a {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    line-height: 1.1rem;
}
.bold-link {
    font-weight: 700;
}
header > a {
    color: #0065FC;
    font-weight: 700;
}

header > a:hover {
    text-decoration: underline;
}


h3, h2, p, input, input::placeholder {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding-bottom: 5px;
}

input, input::placeholder {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.1rem;
}

p, strong, p.small-p {
    font-size: 1.05rem;
    line-height: 1.1rem;
    font-weight: 300;
}
strong {
    font-weight: 700;
}

p.small-p {
    font-size: 0.9rem;
    line-height: 1rem;
}


.active-rating {
    color: #0065FC;
}
.disabled-rating {
    color: #F2F2F2;
}



/*---HEADER-------------------------------------------------------*/

header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header > a {
    padding: 30px 20px 0px 0px;
}

#logo-container {
    padding: 30px 20px 0px 20px;
}


nav {
    width: 100%;
    order: 2;
}
nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
nav ul li {
    padding: 20px;
    width: 100%;
    justify-content: center;
    border-bottom: 3px solid #F2F2F2;
    transition: ease-in-out 300ms;
}
nav ul li a {
    display: block;
    text-align: center
}
nav ul li:hover {
    border-bottom: 3px solid #0065FC;
}
nav ul li:hover a {
    color: #0065FC;
}



/*---SEARCH AND FILTER AREA-------------------------------------------------------*/

#search-and-filter,
#search-and-filter form,
#search-and-filter form > i,
#search-and-filter form input,
#search-and-filter form button.mobile-only {
    display: flex;
    width: 100%;
}
#search-and-filter form,
#search-and-filter form button.mobile-only {
    border-radius: 15px;
}
#search-and-filter form > i,
#search-and-filter form button.mobile-only {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}
#search-and-filter form input,
#search-and-filter form button.mobile-only {
    border: 0;
}
#search-and-filter {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}
#search-and-filter form {
    margin: 30px 0;
    border: 1px solid #F2F2F2;
    overflow: hidden;
    justify-content: space-between;
}
#search-and-filter form > i {
    padding: 0 20px;
    background-color: #F2F2F2;
}
#search-and-filter form input {
    width: 80%;
    padding: 0 20px;
    font-weight: 700;
}
#search-and-filter form input:focus {
    outline: none;
}
#search-and-filter form button.mobile-only {
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}


#filter-container,
#filter-container ul,
.filter-option,
.filter-option button,
.filter-option button i {
    display: flex;
}
#filter-container,
#filter-container ul {
    flex-wrap: wrap;
}
#filter-container,
#filter-container button,
#filter-container button i {
    align-items: center;
}
#filter-container {
    margin: 0 0 30px 0;
}
#filter-container > p {
    width: 100%;
}
.filter-option,
.filter-option button i {
    height: 50px;
    border-radius: 25px;
}
.filter-option {
    margin: 10px 10px 10px 0;
    border: 2px solid #F2F2F2;
}
.filter-option button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding-right:15px;
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 700;
}
.filter-option button i {
    width: 50px;
    justify-content: center;
    color: #0065FC;
    background-color: #DEEBFF;
    transform: translateX(-2px);
    margin-right: 10px;
}


.additional-info-container,
.additional-info-container i {
    display: flex;
    align-items: center;
}
.additional-info-container p {
    padding: 0;
}
.additional-info-container i {
    border: 1px solid #F2F2F2;
    width: 26px;
    height: 26px;
    justify-content: center;
    color: #0065FC;
    border-radius: 13px;
    font-size: 0.8rem;
}
.additional-info-container p {
    margin-left: 10px;
    width: 100%;
}



/*---MAIN-------------------------------------------------------*/

main {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

/*---MAIN - Hebergements-------------------------------------------------------*/
#hebergements h2 {
    padding: 0;
    padding-bottom: 25px;
}
#hebergements > a {
    padding-top: 15px;
    font-size: 1.1rem;
    padding-top: 20px;
}
#hebergements,
#hebergements ul.portrait-thumbnails-container,
#hebergements ul.portrait-thumbnails-container li a,
#hebergements ul.portrait-thumbnails-container li a .thumbnail-info-container {
    display: flex;
}
#hebergements ul.portrait-thumbnails-container,
#hebergements ul.portrait-thumbnails-container li,
#hebergements ul.portrait-thumbnails-container li a .image-container,
#hebergements ul.portrait-thumbnails-container li a .image-container img {
    width: 100%;
}
#hebergements ul.portrait-thumbnails-container,
#hebergements ul.portrait-thumbnails-container li a,
#hebergements ul.portrait-thumbnails-container li a .thumbnail-info-container {
    flex-direction: column;
}
#hebergements ul.portrait-thumbnails-container li a .image-container,
#hebergements ul.portrait-thumbnails-container li a .image-container img {
    height: 100%;
}
#hebergements {
    padding: 40px 20px 30px 20px;
    order: 1;
    flex-flow: row wrap;
}
#hebergements ul.portrait-thumbnails-container {
    padding: 0;
}
#hebergements ul.portrait-thumbnails-container li {
    margin-bottom: 15px;
    border: 4px solid white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
#hebergements ul.portrait-thumbnails-container li a {
    background-color: white;
    height: 200px;
}
#hebergements ul.portrait-thumbnails-container li a .image-container {
    height: 200px;
    overflow: hidden;
}
#hebergements ul.portrait-thumbnails-container li a .image-container img {
    object-fit: cover;
    object-position: bottom center;
    transition: ease-in-out 100ms;
}
#hebergements ul.portrait-thumbnails-container li a .thumbnail-info-container {
    padding: 10px;
    justify-content: flex-start;
}
#hebergements ul.portrait-thumbnails-container li a .thumbnail-info-container .rating-container {
    padding-top: 10px;
}

/*---MAIN - Populaires-------------------------------------------------------*/
#populaires h2 {
    padding: 0;
    padding-bottom: 25px;
}
#populaires .title-icon-container,
#populaires ul.landscape-thumbnails-container,
#populaires ul.landscape-thumbnails-container li a,
#populaires ul.landscape-thumbnails-container li a .thumbnail-info-container {
    display: flex;
}
#populaires,
#populaires ul.landscape-thumbnails-container,
#populaires ul.landscape-thumbnails-container li,
#populaires ul.landscape-thumbnails-container li a,
#populaires ul.landscape-thumbnails-container li a .image-container img {
    width: 100%;
}
#populaires ul.landscape-thumbnails-container,
#populaires ul.landscape-thumbnails-container li a .image-container,
#populaires ul.landscape-thumbnails-container li a .image-container img,
#populaires ul.landscape-thumbnails-container li a .thumbnail-info-container {
    height: 100%;
}
#populaires {
    padding: 50px 20px 30px 20px;
    background-color: #F2F2F2;
}
#populaires .title-icon-container {
    align-items: baseline;
    justify-content: space-between;
}
#populaires .title-icon-container i {
    font-size: 1.5rem;
}
#populaires ul.landscape-thumbnails-container {
    flex-direction: column;
}
#populaires ul.landscape-thumbnails-container li {
    /* margin-top: 15px; */
    margin-bottom: 15px;
    border: 4px solid white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    height: 144px;
}
#populaires ul.landscape-thumbnails-container li a {
    height: 100%;
    justify-content: space-between;
}
#populaires ul.landscape-thumbnails-container li a .image-container {
    width: 40%;
}
#populaires ul.landscape-thumbnails-container li a .image-container img {
    object-fit: cover;
}
#populaires ul.landscape-thumbnails-container li a .thumbnail-info-container {
    width: 60%;
    flex-direction: column;
    padding: 10px;
    background-color: white;
}


/*----------ACTIVITES-------------------------------------------------------*/
#activites ul.simplified-thumbnails-container,
#activites ul.simplified-thumbnails-container li {
    display: flex;
}
#activites,
#activites ul.simplified-thumbnails-container,
#activites ul.simplified-thumbnails-container li,
#activites ul.simplified-thumbnails-container li a,
#activites ul.simplified-thumbnails-container li a .image-container,
#activites ul.simplified-thumbnails-container li a .image-container img,
#activites ul.simplified-thumbnails-container li a p {
    width: 100%;
}
#activites ul.simplified-thumbnails-container li a,
#activites ul.simplified-thumbnails-container li a .image-container,
#activites ul.simplified-thumbnails-container li a .image-container img {
    height: 100%;
}
#activites {
    padding: 50px 30px;
}
#activites ul.simplified-thumbnails-container {
    flex-flow: column wrap;
}
#activites ul.simplified-thumbnails-container li {
    height: 190px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-top: 24px;
}
#activites ul.simplified-thumbnails-container li a {
    overflow: hidden;
}
#activites ul.simplified-thumbnails-container li a .image-container {
    position: relative;
}
#activites ul.simplified-thumbnails-container li a .image-container img {
    object-fit: cover;
}
#activites ul.simplified-thumbnails-container li a p {
    padding: 20px 10px;
    position: absolute;
    background-color: white;
    z-index: 10;
    bottom: 0;
}

.rating-container {
    display: flex;
    flex-grow: 2;
    align-items: flex-end;
}
.rating-container i {
    font-size: 0.8rem;
}


/*---FOOTER-------------------------------------------------------*/

footer {
    width: 100%;
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}

footer ul {
    width: 100%;
    padding-top: 30px;
}
footer ul li {
    padding: 5px 0;
}


/*----------------------------------------------------------------------------------
---------------------------------MEDIA QUERIES--------------------------------------
----------------------------------------------------------------------------------*/

/*-------TABLET-------------------------------------------------------*/
@media screen and (min-width: 768px) {

    .mobile-only {
        display: none;
    }

    .hidden-on-mobile {
        display: flex;
    }
    
    /*----HEADER-------------------------------------------------------*/
    header {
        flex-wrap: nowrap;
        justify-content: flex-end;
        padding: 0 30px;
    }
    header > a {
        padding: 0 25px;
    }
    
    #logo-container {
        width: 100%;
        height: 100%;
        padding: 17px 0 0 0;
        display: flex;
        align-items: flex-end;
    }
    
    nav {
        width: auto;
        order: 0;
    }
    nav ul li {
        padding: 30px 25px;
        border-bottom: 0;
        border-top: 3px solid #F2F2F2;
    }
    nav ul li:hover {
        border-bottom: 0;
        border-top: 3px solid #0065FC;
    }

    
    /*---SEARCH AND FILTER AREA-------------------------------------------------------*/

    #search-and-filter {
        padding: 30px 50px;
    }
    #search-and-filter form {
        margin: 20px 0 30px 0;
        width: auto;
    }
    #search-and-filter form input,
    #search-and-filter form button.hidden-on-mobile {
        padding: 0 20px;
    }
    #search-and-filter form button.hidden-on-mobile {
        border: 0;
        background-color: #0065FC;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;
    }
    #search-and-filter form button.hidden-on-mobile:hover {
        background-color: #DEEBFF;
        color: #0065FC;
    }
    #search-and-filter form button.mobile-only {
        display: none;
    }


    #filter-container > p {
        width: auto;
    }

    .filter-option {
        margin: 10px 20px 0 0;
    }
    .filter-option:hover {
        border: 2px solid #0065FC;
    }
    .filter-option:hover button i {
        background-color: #0065FC;
        color: white;
    }
    .filter-option,
    .filter-option button i {
        transition: ease-in-out 300ms;
    }


    /*----MAIN-------------------------------------------------------*/
    
    main {
        /* padding: 50px; */
        padding: 0 50px 60px 50px;
    }
    
    /*----MAIN - Hebergements-------------------------------------------------------*/
    #hebergements {
        padding: 40px;
        background-color: #F2F2F2;
        width: 100%;
        order: 0;
        border-radius: 20px;
        margin-right: 40px;
    }
    #hebergements ul.portrait-thumbnails-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #hebergements ul.portrait-thumbnails-container li {
        width: 30%;
        margin-bottom: 30px;
        transition: ease-in-out 100ms;
    }
    #hebergements ul.portrait-thumbnails-container li a {
        height: 100%;
        max-height: 200%;
    }
    #hebergements ul.portrait-thumbnails-container li a .image-container {
        height: 130px;
    }
    #hebergements > a {
        align-self: flex-end;
        padding-top: 0px;
    }
    #hebergements > a:hover {
        text-decoration: underline;
    }
    #hebergements ul.portrait-thumbnails-container li:hover {
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
    }


    
    
    /*----MAIN - Populaires-------------------------------------------------------*/
    #populaires {
        padding: 40px;
        margin-top: 50px;
        background-color: #F2F2F2;
        border-radius: 20px;
    }
    #populaires ul.landscape-thumbnails-container li {
        /* margin-top: 30px; */
        transition: ease-in-out 100ms;
    }
    #populaires ul.landscape-thumbnails-container li:hover {
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
    }
    

    /*----ACTIVITES-------------------------------------------------------*/
    #activites {
        padding: 0 50px;
    }
    #activites ul.simplified-thumbnails-container {
        height: 800px;
        flex-flow: column wrap;
        align-content: space-between;
        justify-content: space-between;
        padding: 30px 0 60px 0;
    }
    #activites ul.simplified-thumbnails-container li {
        width: calc(50% - 10px);
        margin-top: 0;
        transition: ease-in-out 100ms;
    }
    #activites ul.simplified-thumbnails-container li:hover {
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
    }
    #activites ul.simplified-thumbnails-container li.full-height {
        height: 50%;
    }
    #activites ul.simplified-thumbnails-container li.half-height {
        height: calc(25% - 20px);
    }
    #activites ul.simplified-thumbnails-container li.two-height {
        height: calc(30% - 20px);
    }
    #activites ul.simplified-thumbnails-container li.one-height {
        height: calc(20% - 20px);
    }
    #activites ul.simplified-thumbnails-container li a p {
        padding: 10px;
    }
    
   

}



/*--------DESKTOP-------------------------------------------------------*/
@media screen and (min-width: 1024px) {

    header {
        padding: 0 50px;
    }

    nav ul li {
        padding: 45px 35px;
    }

    .filter-option {
        margin: 0 20px 0 0;
    }

    .filter-option:nth-child(1) {
        margin-left: 20px;
    }

    /*----MAIN-------------------------------------------------------*/
    
    main {
        flex-direction: row;
        align-items: stretch;
    }

    
    /*----MAIN - Hebergements-------------------------------------------------------*/   
    #hebergements {
        width: 67.5%;
    }
    #hebergements ul.portrait-thumbnails-container li {
        width: 30.5%;
    }

    /*----MAIN - Populaires-------------------------------------------------------*/
    #populaires {
        width: 32.5%;
        margin-top: 0;
        padding: 40px;
    }
    #populaires ul.landscape-thumbnails-container {
        /* padding: 15px 0; */
        justify-content: space-between;
        padding-bottom: 50px;
    }
    #populaires ul.landscape-thumbnails-container li {
        flex-basis: 100%;
        flex-grow: 1;
        max-height: 144px;
        margin-bottom: 0px;
    }
    #populaires ul.landscape-thumbnails-container li a {
        height: 100%;
    }


    /*----ACTIVITES-------------------------------------------------------*/
    #activites ul.simplified-thumbnails-container {
        height: 600px;
    }
    #activites ul.simplified-thumbnails-container li {
        width: 22.5%;
    }
    #activites ul.simplified-thumbnails-container li.full-height {
        height: 100%;
    }
    #activites ul.simplified-thumbnails-container li.half-height {
        height: calc(50% - 20px);
    }
    #activites ul.simplified-thumbnails-container li.two-height {
        height: calc(60% - 20px);
    }
    #activites ul.simplified-thumbnails-container li.one-height {
        height: calc(40% - 20px);
    }
    #activites ul.simplified-thumbnails-container li a p {
        padding: 20px;
    }

    /*----FOOTER-------------------------------------------------------*/
    footer {
        padding: 20px 50px 50px 50px;
        flex-direction: row;
    }

    footer a:hover {
        text-decoration: underline;
    }

}

