* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.hidden-on-mobile {
    display: none;
}

.mobile-only {
    display: flex;
}
/*----------TYPOGRAPHY------------*/

a {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    font-size: 1em;
    line-height: 1.1em;
}
.bold-link {
    font-weight: 700;
}
header > a {
    color: #0065FC;
    font-weight: 700;
}

header > a:hover {
    text-decoration: underline;
}


h3, h2, p {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    line-height: 1.3em;
    padding-bottom: 5px;
}

h3 {
    font-size: 1.3em;
    line-height: 1.1em;
}

p, strong, p.small-p {
    font-size: 1.1em;
    line-height: 1.1em;
    font-weight: 300;
}
strong {
    font-weight: 700;
}

p.small-p {
    /* font-size: 14px; */
    font-size: 0.9em;
    line-height: 1em;
}


/*---------------------------------*/

.active-rating {
    color: #0065FC;
}
.disabled-rating {
    color: #F2F2F2;
}

/*----------HEADER------------*/


header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header > a {
    padding: 30px 20px 0px 0px;
}

#logo-container {
    padding: 30px 20px 0px 20px;
}


nav {
    width: 100%;
    order: 2;
}
nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
nav ul li {
    padding: 20px;
    width: 100%;
    justify-content: center;
    border-bottom: 3px solid #F2F2F2;
    transition: ease-in-out 300ms;
}
nav ul li a {
    display: block;
    text-align: center
}
nav ul li:hover {
    border-bottom: 3px solid #0065FC;
}
nav ul li:hover a {
    color: #0065FC;
}


/*----------------------------*/



/*----------SEARCH AND FILTER AREA------------*/

#search-and-filter {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}
#search-and-filter form {
    display: flex;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
    justify-content: space-between;
}
#search-and-filter form > i {
    width: 50px;
    height: 50px;
    padding: 0 20px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search-and-filter form input {
    border: 0;
    font-weight: 700;
    display: flex;
}

#search-and-filter form button.mobile-only {
    border: 0;
    background-color: #0065FC;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

#filter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 30px 0;
}
#filter-container > p {
    width: 100%;
}
#filter-container ul {
    display: flex;
    flex-wrap: wrap;
}
.filter-option {
    height: 50px;
    display: flex;
    margin: 10px 10px 10px 0;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
}
.filter-option button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding-right:15px;
    font-size: 1.1em;
    line-height: 1.4em;
    font-weight: 700;
}
.filter-option button i {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 25px;
    transform: translateX(-2px);
    margin-right: 10px;
}

.additional-info-container {
    display: flex;
    align-items: flex-start;
}
.additional-info-container i {
    border: 1px solid #F2F2F2;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border-radius: 13px;
    font-size: 0.8em;
}
.additional-info-container p {
    margin-left: 10px;
    width: 100%;
}



/*----------HEBERGEMENTS------------*/

main {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

#hebergements {
    padding: 50px 30px;
    order: 1;
    display: flex;
    flex-flow: row wrap;
}
#hebergements ul.portrait-thumbnails-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 30px 0 0 0;
}
#hebergements ul.portrait-thumbnails-container li {
    width: 100%;
    margin-bottom: 30px;
    border: 3px solid white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
#hebergements ul.portrait-thumbnails-container li a {
    display: flex;
    flex-direction: column;
    background-color: white;
}
#hebergements ul.portrait-thumbnails-container li a .image-container {
    width: 100%;
    height: 100%;
    max-height: 130px;
    overflow: hidden;
}
#hebergements ul.portrait-thumbnails-container li a .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease-in-out 100ms;
}
#hebergements ul.portrait-thumbnails-container li a .thumbnail-info-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#hebergements ul.portrait-thumbnails-container li a .thumbnail-info-container .rating-container {
    padding-top: 10px;
}


#populaires {
    padding: 50px 30px;
    background-color: #F2F2F2;
    width: 100%;
}
#populaires .title-icon-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
#populaires ul.landscape-thumbnails-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
#populaires ul.landscape-thumbnails-container li {
    width: 100%;
    margin-top: 30px;
    border: 3px solid white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
#populaires ul.landscape-thumbnails-container li a {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
}
#populaires ul.landscape-thumbnails-container li a .image-container {
    width: 40%;
}
#populaires ul.landscape-thumbnails-container li a .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#populaires ul.landscape-thumbnails-container li a .thumbnail-info-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
}

/*----------ACTIVITES------------*/

#activites {
    width: 100%;
    padding: 50px 30px;
}
#activites ul.simplified-thumbnails-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    /* padding-bottom: 50px; */
}
#activites ul.simplified-thumbnails-container li {
    width: 100%;
    height: 200px;
    display: flex;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-top: 30px;
}

#activites ul.simplified-thumbnails-container li a {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#activites ul.simplified-thumbnails-container li a .image-container {
    width: 100%;
    height: 100%;
    position: relative;
}
#activites ul.simplified-thumbnails-container li a .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#activites ul.simplified-thumbnails-container li a p {
    padding: 10px;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 10;
    bottom: 0;
}

.rating-container {
    display: flex;
    flex-grow: 2;
    align-items: flex-end;
/*     padding: 5px 0; */
}
.rating-container i {
    font-size: 0.8em;
}


/*-----------FOOTER------------------*/

footer {
    width: 100%;
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}

footer ul {
    width: 100%;
    padding-top: 30px;
}
footer ul li {
    padding: 5px 0;
}


/*-----------------------------------------------QUERIES------------------------------------------/*
/*-------TABLET-----------*/
@media screen and (min-width: 768px) {

    .mobile-only {
        display: none;
    }

    .hidden-on-mobile {
        display: flex;
    }
    
    header {
        flex-wrap: nowrap;
        justify-content: flex-end;
        padding: 0 30px;
    }
    header > a {
        padding: 0 25px;
    }
    
    #logo-container {
        width: 100%;
        height: 100%;
        padding: 17px 0 0 0;
        display: flex;
        align-items: flex-end;
    }
    
    nav {
        width: auto;
        order: 0;
    }
    nav ul li {
        padding: 30px 25px;
        border-bottom: 0;
        border-top: 3px solid #F2F2F2;
    }
    nav ul li:hover {
        border-bottom: 0;
        border-top: 3px solid #0065FC;
    }

    
    

    /*----------SEARCH AND FILTER AREA------------*/

    #search-and-filter {
        padding: 30px 50px;
    }

    #search-and-filter form {
        margin: 20px 0 30px 0;
        width: auto;
    }

    #search-and-filter form input {
        padding: 0 20px;
    }

    #search-and-filter form button.hidden-on-mobile {
        border: 0;
        background-color: #0065FC;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        color: white;
        cursor: pointer;
    }
    #search-and-filter form button.hidden-on-mobile:hover {
        background-color: #DEEBFF;
        color: #0065FC;
    }

    #search-and-filter form button.mobile-only {
        display: none;
    }


    #filter-container > p {
        width: auto;
    }

    .filter-option:nth-child(1) {
        margin-left: 20px;
    }

    .filter-option {
        margin: 0 20px 0 0;
        transition: ease-in-out 300ms;
    }
    .filter-option:hover {
        border: 2px solid #0065FC;
    }
    .filter-option button i {
        transition: ease-in-out 300ms;
    }
    .filter-option:hover button i {
        background-color: #0065FC;
        color: white;
    }


    /*----------HEBERGEMENTS------------*/
    
    main {
        width: 100%;
        padding: 50px;
        display: flex;
        flex-direction: column;
    }
        
    #hebergements {
        padding: 50px;
        background-color: #F2F2F2;
        width: 100%;
        order: 0;
        border-radius: 20px;
        margin-right: 40px;
    }
    #hebergements ul.portrait-thumbnails-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #hebergements ul.portrait-thumbnails-container li {
        width: 30%;
        transition: ease-in-out 100ms;
    }
    #hebergements ul.portrait-thumbnails-container li a {
        height: 100%;
    }
    #hebergements > a {
        align-self: flex-end;
    }


    
    
    
    #populaires {
        padding: 50px;
        margin-top: 50px;
        background-color: #F2F2F2;
        width: 100%;
        border-radius: 20px;
    }
    

    /*----------ACTIVITES------------*/
    


    #activites {
        padding: 0 50px;
    }
    #activites ul.simplified-thumbnails-container {
        height: 800px;
        flex-flow: column wrap;
        align-content: space-between;
        justify-content: space-between;
        padding: 30px 0 50px 0;
    }
    #activites ul.simplified-thumbnails-container li {
        width: calc(50% - 10px);
        margin-top: 0;
    }
    #activites ul.simplified-thumbnails-container li.full-height {
        height: 50%;
    }
    #activites ul.simplified-thumbnails-container li.half-height {
        height: calc(25% - 20px);
    }
    #activites ul.simplified-thumbnails-container li.two-height {
        height: calc(30% - 20px);
    }
    #activites ul.simplified-thumbnails-container li.one-height {
        height: calc(20% - 20px);
    }
    #activites ul.simplified-thumbnails-container li a p {
        padding: 10px;
    }
    
    /* #activites ul.simplified-thumbnails-container li:nth-child(3) {
        order: -1;
    } */
    
    
    /*-----------FOOTER------------------*/

    footer {
        padding: 20px 50px 50px 50px;
        flex-direction: row;
    }
   

}



/*--------DESKTOP----------------*/
@media screen and (min-width: 1024px) {

    header {
        padding: 0 50px;
    }

    nav ul li {
        padding: 45px 35px;
    }


    /*----------HEBERGEMENTS------------*/
    
    main {
        flex-direction: row;
        align-items: stretch;
    }
        
    #hebergements {
        width: 70%;
    }
    #hebergements ul.portrait-thumbnails-container li {
        width: 30%;
    }

    
    #populaires {
        width: 30%;
        margin-top: 0;
        padding: 50px;
    }

    #populaires ul.landscape-thumbnails-container {
        padding: 15px 0;
    }
    #populaires ul.landscape-thumbnails-container li {
        flex-basis: 100%;
        flex-grow: 1;
        margin: 15px 0;
    }
    #populaires ul.landscape-thumbnails-container li a {
        height: 100%;
    }


    /* #activites ul.simplified-thumbnails-container {
        height: 600px;
    } */


    #activites {
        padding: 0 50px;
    }
    #activites ul.simplified-thumbnails-container {
        height: 600px;
        flex-flow: column wrap;
        align-content: space-between;
        justify-content: space-between;
        padding: 30px 0 50px 0;
    }
    #activites ul.simplified-thumbnails-container li {
        width: 23%;
        margin-top: 0;
    }
    #activites ul.simplified-thumbnails-container li.full-height {
        height: 100%;
    }
    #activites ul.simplified-thumbnails-container li.half-height {
        height: calc(50% - 20px);
    }
    #activites ul.simplified-thumbnails-container li.two-height {
        height: calc(60% - 20px);
    }
    #activites ul.simplified-thumbnails-container li.one-height {
        height: calc(40% - 20px);
    }
    #activites ul.simplified-thumbnails-container li a p {
        padding: 20px;
    }

    
}

